
<header class="profile container-show">
  <div class="profile__container grid">
    <div class="profile__data">
      <div class="profile__border">
        <div class="profile__perfil">
          <img class="profile__perfil" src="<%= @user.profile_image_url %>" alt="Profile Image">
        </div>
      </div>

      <h2 class="profile__name"><%= @user.display_name %></h2>
      <h3 class="profile__username"></h3>
      <ul class="profile__social">
        <a href="" target="_blank" class="profile__social-link">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="" target="_blank" class="profile__social-link">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" target="_blank" class="profile__social-link">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="https://www.twitch.tv/<%= @user.display_name %>/follow" target="_blank" class="text-decoration-none category-btn d-block">
          <i class="fab fa-twitch"></i> Follow <%= @user.display_name %>
         </a>
      </ul>
    </div>
    <div class="profile__info grid">
      <div class="profile__info-group">
        <% if @user.total_followers >= 1000 && @user.total_followers < 1000000 %>
          <h3 class="profile__info-number"><%= (@user.total_followers / 1000.0).round(1) %>k followers</h3>
        <% elsif @user.total_followers >= 1000000 %>
          <h3 class="profile__info-number"><%= (@user.total_followers / 1000000.0).round(1) %>M followers</h3>
        <% else %>
          <h3 class="profile__info-number"><%= @user.total_followers %> followers</h3>
        <% end %>
        <p class="profile__infor-description"><%= @user.description %></p>

          <% if @user.streams.any? %>
            <% if @top_categories.any? %>
              <ul class="stream-categories">
                <% @top_categories.each do |category_id| %>
                  <% category_name = Category.find(category_id).name %>
                  <li><%= category_name %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</header>

<main class="main">
  <section class="filters container">
    <ul class="filter__content">
      <button class="filter__button" data-target="#clips">
        Clips
      </button>
      <button class="filter__button" data-target="#analytics">
        Analytics
      </button>
    </ul>

  <div class="filters__sections">
    <div class="clips__content grid" data-content id="clips">
    <div class="card-container">
  <div class="cards-container">
    <% @user_clips.each do |clip| %>
      <div class="card-trip">
        <img src="<%= clip.thumbnail_url %>" alt="Clip thumbnail">
        <div class="card-trip-infos">
          <h2 ><%= clip.title %></h2>
          <p> <%= clip.view_count %> <strong>Views</strong></p>
          <p> <%= clip.clip_date.strftime("%B %d, %Y") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
    <article class="clips__card">
      <img src="" alt="">
      <div class="clips__modal">
      <div>
      <span class="clips__subtitle"></span>
      <h3 class="class__title"></h3>
      <a href="#" class="clips__button button button__small">

      </a>
      </div>

      </div>
    </article>

    </div>
    <div class="analytics__content grid" data-content id="analytics">

    </div>


  </div>
  <div class="filters__sections"></div>
  </section>
</main>


<section class="streams section" id="streams">
  <h2 class="section__title">Analytics</h2>
  <span class="section__subtitle">Stream data</span>

  <div class="streams__container container grid">
      <div>
          <!--=============== streams 1 ===============-->
          <div class="streams__content streams__open">
              <div class="streams__header">
                  <i class="uil uil-brackets-curly streams__icon"></i>

                  <div>
                      <h1 class="streams__title">Last 5 Streams</h1>
                      <span class="streams__subtitle">Check out your performance</span>
                  </div>

                  <i class="uil uil-angle-down streams__arrow"></i>
              </div>

              <div class="streams__list grid">
                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">average viewers</h3>
                          <span class="streams__number"><%= @user.average(5)%></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__html"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">peak viewers</h3>
                          <span class="streams__number"><%= @user.max_peak_viewers(5) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__css"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">new followers</h3>
                          <span class="streams__number"><%= @user.followers(5) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__js"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">new subscribers</h3>
                          <span class="streams__number"><%= @user.subscribers(5) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__react"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                    <div class="streams__titles">
                      <h3 class="streams__name">average chat messages</h3>
                      <span class="streams__number"><%= @user.num_chat_msg(5) %></span>
                    </div>
                    <div class="streams__bar">
                      <span class="streams__percentage streams__react"></span>
                    </div>
                  </div>

                    <div class="streams__data">
                    <div class="streams__titles">
                      <h3 class="streams__name">average num_chatters</h3>
                      <span class="streams__number"><%= @user.num_chatters(5) %></span>
                    </div>
                    <div class="streams__bar">
                      <span class="streams__percentage streams__react"></span>
                    </div>
                  </div>


              </div>
          </div>

          <!--=============== streams 2 ===============-->
          <div class="streams__content streams__close">
              <div class="streams__header">
                  <i class="uil uil-server-network streams__icon"></i>

                  <div>
                      <h1 class="streams__title">Last 10 streams</h1>
                      <span class="streams__subtitle">Check out your performance</span>
                  </div>

                  <i class="uil uil-angle-down streams__arrow"></i>
              </div>

              <div class="streams__list grid">
                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">average viewers</h3>
                          <span class="streams__number"><%= @user.average(10)%></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__html"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">peak viewers</h3>
                          <span class="streams__number"><%= @user.max_peak_viewers(10) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__css"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">new followers</h3>
                          <span class="streams__number"><%= @user.followers(10) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__js"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">new subscribers</h3>
                          <span class="streams__number"><%= @user.subscribers(10) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__react"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                    <div class="streams__titles">
                      <h3 class="streams__name">average chat messages</h3>
                      <span class="streams__number"><%= @user.num_chat_msg(10) %></span>
                    </div>
                    <div class="streams__bar">
                      <span class="streams__percentage streams__react"></span>
                    </div>
                  </div>

                    <div class="streams__data">
                    <div class="streams__titles">
                      <h3 class="streams__name">average num_chatters</h3>
                      <span class="streams__number"><%= @user.num_chatters(10) %></span>
                    </div>
                    <div class="streams__bar">
                      <span class="streams__percentage streams__react"></span>
                    </div>
                  </div>
             </div>
      </div>

      <div>
          <!--=============== streams 3 ===============-->
          <div class="streams__content streams__close">
              <div class="streams__header">
                  <i class="uil uil-swatchbook streams__icon"></i>

                  <div>
                      <h1 class="streams__title">Last 30 streams</h1>
                      <span class="streams__subtitle">Check out your performance</span>
                  </div>

                  <i class="uil uil-angle-down streams__arrow"></i>
              </div>

             <div class="streams__list grid">
                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">average viewers</h3>
                          <span class="streams__number"><%= @user.average(30)%></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__html"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">peak viewers</h3>
                          <span class="streams__number"><%= @user.max_peak_viewers(30) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__css"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">new followers</h3>
                          <span class="streams__number"><%= @user.followers(30) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__js"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                      <div class="streams__titles">
                          <h3 class="streams__name">new subscribers</h3>
                          <span class="streams__number"><%= @user.subscribers(30) %></span>
                      </div>
                      <div class="streams__bar">
                          <span class="streams__percentage streams__react"></span>
                      </div>
                  </div>

                  <div class="streams__data">
                    <div class="streams__titles">
                      <h3 class="streams__name">average chat messages</h3>
                      <span class="streams__number"><%= @user.num_chat_msg(30) %></span>
                    </div>
                    <div class="streams__bar">
                      <span class="streams__percentage streams__react"></span>
                    </div>
                  </div>

                    <div class="streams__data">
                    <div class="streams__titles">
                      <h3 class="streams__name">average num_chatters</h3>
                      <span class="streams__number"><%= @user.num_chatters(30) %></span>
                    </div>
                    <div class="streams__bar">
                      <span class="streams__percentage streams__react"></span>
                    </div>
                  </div>


              </div>
          </div>
      </div>
  </div>


</section>

<div style="padding-bottom: 105px;"></div>




<!--<div class="streams-info">
  <h2>Streams</h2>
  <div class="num-streams-selector">
    <%= link_to "Last 5 streams", channels_path(num_streams: 5) %>
    <%= link_to "Last 10 streams", channels_path(num_streams: 10) %>
    <%= link_to "Last 30 streams", channels_path(num_streams: 30) %>
  </div>
  <div class="stats-info">
    <div class="week-info">
      <h5>Last 5 Streams</h5>
      <ul><%= @user.average(5)%> average viewers</ul>
      <ul><%= @user.max_peak_viewers(5) %> peak viewers</ul>
      <ul><%= @user.followers(5) %> new followers</ul>
      <ul><%= @user.subscribers(5) %> new subscribers</ul>
      <ul><%= @user.num_chat_msg(5) %> average chat messages</ul>
      <ul><%= @user.num_chatters(5) %> average num_chatters</ul>
    </div>
    <div class="week-info">
      <h5>Last 10 Streams</h5>
      <ul><%= @user.average(10)%> average viewers</ul>
      <ul><%= @user.max_peak_viewers(10) %> peak viewers</ul>
      <ul><%= @user.followers(10) %> new followers</ul>
      <ul><%= @user.subscribers(10) %> new subscribers</ul>
      <ul><%= @user.num_chat_msg(10) %> average chat messages</ul>
      <ul><%= @user.num_chatters(10) %> average num_chatters</ul>
    </div>
    <div class="week-info">
      <h5>Last 30 Streams</h5>
      <ul><%= @user.average(30)%> average viewers</ul>
      <ul><%= @user.max_peak_viewers(30) %> peak viewers</ul>
      <ul><%= @user.followers(30) %> new followers</ul>
      <ul><%= @user.subscribers(30) %> new subscribers</ul>
      <ul><%= @user.num_chat_msg(30) %> average chat messages</ul>
      <ul><%= @user.num_chatters(30) %> average num_chatters</ul>
    </div>
  </div>
</div>-->
