<div class="card-trip">
  <%= image_tag clip.thumbnail_url %>
  <%# <iframe src="https://clips.twitch.tv/embed?clip=SmoothGlamorousJuiceKeepo-iVTzGP3hCRXc-1Gw&parent=www.example.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe> %>

  <div class="card-trip-infos">
    <div class="d-flex gap-3">
      <%= link_to channel_path(clip.stream.user) do %>
        <%= image_tag clip.stream.user.profile_image_url, class: "avatar-bordered" %>
      <% end %>
      <div class='align-self-center'>
        <h2><%= clip.title %></h2>
        <%= link_to channel_path(clip.stream.user), class: "text-decoration-none", style: 'color: black' do %>
          <p><%= clip.stream.user.display_name %></p>
        <% end %>
      </div>
    </div>
    <div class="text-end me-1">
      <%= link_to category_path(clip.stream.category), class: "text-decoration-none", style: 'color: black' do %>
        <p><strong><%= clip.stream.category.name %></strong></p>
      <% end %>
      <p><%= clip.view_count%> viewers</p>
    </div>
  </div>
</div>
