<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="navbar-giny">

  <a href="<%= root_path %>" class="<%= 'active' if current_page?(root_path) %>"><i class='bx bxs-home-alt-2'></i></a>
  <i class='bx bxs-search-alt-2' ></i>
  <a href="<%= channel_path(current_user.id) %>" class="<%= 'active' if current_page?(channel_path(current_user.id)) %>"><i class='bx bxs-user'></i></a>
  <a href="<%= clips_path %>" class="<%= 'active' if current_page?(clips_path) %>"><i class='bx bxs-planet'></i></a>
  <a href="<%= discover_path %>" class="<%= 'active' if current_page?(discover_path) %>"><i class='bx bxs-hot'></i></a>

</div>
