<h1>Home</h1>

<!-- Displaying User Overview -->
<div class="profile-info">
  <a href="<%= channel_path(@user.id) %>"><img src="<%= @user.profile_image_url%>"alt="Profile Image", class="avatar-large"></a>
  <a href="<%= channel_path(@user.id) %>" class="text-decoration-none" style="color: black;"><p><strong><%= @user.display_name %></strong></p></a>
  <% if @user.total_followers >= 1000 && @user.total_followers < 1000000 %>
    <p><%= (@user.total_followers / 1000.0).round(1) %>k followers</p>
  <% elsif @user.total_followers >= 1000000 %>
    <p><%= (@user.total_followers / 1000000.0).round(1) %>M followers</p>
  <% else %>
    <p><%= @user.total_followers %> followers</p>
  <% end %>
</div>
<div class="stats-info">
  <div class="week-info">
    <h5>Last 5 Streams</h5>
    <ul><%= @user.average(5)%> average viewers</ul>
    <ul><%= @user.followers(5) %> new followers</ul>
    <ul><%= @user.subscribers(5) %> new subscribers</ul>
  </div>
</div>
<div class="top-categories">
  <h5>My Top Categories</h5>
  <% if @user.streams.any? %>
    <% category_count = @user.streams.where("created_at >= ?", 30.days.ago).group(:category_id).count %>
    <% top_categories = category_count.sort_by { |_, count| -count }.take(3).map(&:first) %>
    <% if top_categories.any? %>
      <ul class="stream-categories">
      <% top_categories.each do |category_id| %>
        <% category_name = Category.find(category_id).name %>
        <p><strong><%= link_to category_name, category_path(category_id), class: "text-decoration-none", style: 'color: black' %></strong></p>
      <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<% if @user.clips.any? %>
  <!-- Displaying Clips -->
  <div class="cards-container">
    <div class="card-trip">
      <%= image_tag @user.clips.order("view_count DESC").first.thumbnail_url %>
      <div class="card-trip-infos">
        <div class="d-flex gap-3">
          <%= link_to image_tag(@user.clips.order("view_count DESC").first.stream.user.profile_image_url, class: "avatar-bordered"), channel_path(@user.clips.order("view_count DESC").first.stream.user.id) %>
          <div class='align-self-center'>
            <h2><%= @user.clips.order("view_count DESC").first.title %></h2>
            <p><%= link_to @user.clips.order("view_count DESC").first.stream.user.display_name, channel_path(@user.clips.order("view_count DESC").first.stream.user.id), class: "text-decoration-none", style: 'color: black' %></p>
          </div>
        </div>
      <div class="text-end me-1">
        <p><strong><%= link_to @user.clips.order("view_count DESC").first.stream.category.name, category_path(@user.clips.order("view_count DESC").first.stream.category.id), class: "text-decoration-none", style: 'color: black' %></strong></p>
        <p>Views: <%= @user.clips.order("view_count DESC").first.view_count %></p>
      </div>
    </div>
  </div>
<% end %>


<!-- Displaying Categories -->
<div class="categories">
  <h3>Trending Categories:</h3>
    <% sorted_categories = @categories.sort_by do |category|
      category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i
    end.reverse %>

    <% sorted_categories.each do |category| %>
      <a href="<%= category_path(category.id) %>"><img src="<%= category.box_art_url %>" alt="Box Art", class="game-small"></a>      <strong><p><%= link_to category.name, category_path(category.id), class: "text-decoration-none", style: 'color: black'  %></p></strong>
      <p>Average viewers: <%= category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i%></p>
      <% if category.clips.any? %>
        <div class="cards-container">
          <div class="card-trip">
            <%= image_tag category.clips.order("view_count DESC").first.thumbnail_url %>
            <div class="card-trip-infos">
              <div class="d-flex gap-3">
                <%= link_to image_tag(category.clips.order("view_count DESC").first.stream.user.profile_image_url, class: "avatar-bordered"), channel_path(category.clips.order("view_count DESC").first.stream.user.id) %>
                <div class='align-self-center'>
                  <h2><%= category.clips.order("view_count DESC").first.title %></h2>
                  <p><%= link_to category.clips.order("view_count DESC").first.stream.user.display_name, channel_path(category.clips.order("view_count DESC").first.stream.user.id), class: "text-decoration-none", style: 'color: black'  %></p>
                </div>
              </div>
              <div class="text-end me-1">
                <p><strong><%= link_to category.clips.order("view_count DESC").first.stream.category.name, category_path(category.clips.order("view_count DESC").first.stream.category.id), class: "text-decoration-none", style: 'color: black'  %></strong></p>
                <p>Views: <%= category.clips.order("view_count DESC").first.view_count %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>


<!-- Displaying Channels -->
<div class="channels">
  <h3>Trending Channels:</h3>
  <div class="channels">
    <% sorted_channels = @channels.sort_by do |channel|
      channel.streams.where("created_at >= ?", 1.week.ago).average(:viewer_count).to_i
    end.reverse %>
    <% sorted_channels.each do |channel| %>
      <p><%= link_to image_tag(channel.clips.order("view_count DESC").first.stream.user.profile_image_url, class: "avatar-large"), channel_path(channel.clips.order("view_count DESC").first.stream.user.id) %></p>
      <strong><%= link_to channel.display_name, channel_path(channel.id), class: "text-decoration-none", style: 'color: black' %></strong>
      <p>Average viewers: <%= channel.streams.where("created_at >= ?", 1.week.ago).average(:viewer_count).to_i %></p>
      <% if channel.clips.any? %>
        <div class="cards-container">
          <div class="card-trip">
            <%= image_tag channel.clips.order("view_count DESC").first.thumbnail_url %>
            <div class="card-trip-infos">
              <div class="d-flex gap-3">
                <%= link_to image_tag(channel.clips.order("view_count DESC").first.stream.user.profile_image_url, class: "avatar-bordered"), channel_path(channel.clips.order("view_count DESC").first.stream.user.id) %>
                <div class='align-self-center'>
                  <h2><%= channel.clips.order("view_count DESC").first.title %></h2>
                  <p><%= link_to channel.clips.order("view_count DESC").first.stream.user.display_name, channel_path(channel.clips.order("view_count DESC").first.stream.user.id), class: "text-decoration-none", style: 'color: black'  %></p>
                </div>
              </div>
              <div class="text-end me-1">
                <p><strong><%= link_to channel.clips.order("view_count DESC").first.stream.category.name, category_path(channel.clips.order("view_count DESC").first.stream.category.id), class: "text-decoration-none", style: 'color: black'  %></strong></p>
                <p>Views: <%= channel.clips.order("view_count DESC").first.view_count %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>

<div style="padding-bottom: 50px;"></div>
