<h1>Pages#home</h1>

<!-- Displaying User Overview -->
<div class="profile-info">
  <img src="<%= @user.profile_image_url %>" alt="Profile Image">
  <p><%= @user.display_name %></p>
  <% if @user.total_followers >= 1000 && @user.total_followers < 1000000 %>
    <p><%= (@user.total_followers / 1000.0).round(1) %>k followers</p>
  <% elsif @user.total_followers >= 1000000 %>
    <p><%= (@user.total_followers / 1000000.0).round(1) %>M followers</p>
  <% else %>
    <p><%= @user.total_followers %> followers</p>
  <% end %>
</div>
<div class="stats-info">
  <div class="week-info">
    <h5>Last 5 Streams</h5>
    <ul><%= @user.average(5)%> average viewers</ul>
    <ul><%= @user.followers(5) %> new followers</ul>
    <ul><%= @user.subscribers(5) %> new subscribers</ul>
  </div>
<% if @user.clips.any? %>
  <!-- Displaying Clips -->
  <div class="cards-container">
    <div class="card-trip">
      <%= image_tag @user.clips.order("view_count DESC").first.thumbnail_url %>
      <div class="card-trip-infos">
        <div class="d-flex gap-3">
          <%= image_tag @user.clips.order("view_count DESC").first.stream.user.profile_image_url, class: "avatar-bordered" %>
          <div class='align-self-center'>
            <h2><%= @user.clips.order("view_count DESC").first.stream.user.display_name %></p>
            <p><%= @user.clips.order("view_count DESC").first.title %></p>
        </div>
      </div>
      <p>Views: <%= @user.clips.order("view_count DESC").first.view_count %></p>
      <p><%= @user.clips.order("view_count DESC").first.stream.category.name %></p>
    </div>
  </div>
<% end %>


<!-- Displaying Categories -->
<div class="categories">
  <h3>Trending Categories:</h3>
    <% sorted_categories = @categories.sort_by do |category|
      category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i
    end.reverse %>

    <% sorted_categories.each do |category| %>
      <li><%= category.name %></li>
      Average viewers: <%= category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i%>
      <% if category.clips.any? %>
        <div class="cards-container">
          <div class="card-trip">
            <%= image_tag category.clips.order("view_count DESC").first.thumbnail_url %>
            <div class="card-trip-infos">
              <div class="d-flex gap-3">
                <%= image_tag category.clips.order("view_count DESC").first.stream.user.profile_image_url, class: "avatar-bordered" %>
                <div class='align-self-center'>
                  <h2><%= category.clips.order("view_count DESC").first.title %></h2>
                  <p><%= category.clips.order("view_count DESC").first.stream.user.display_name %></p>
                </div>
              </div>
            <p>Views: <%= category.clips.order("view_count DESC").first.view_count %></p>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>

<!-- Displaying Channels -->
<div class="channels">
  <h3>Trending Channels:</h3>
    <% sorted_channels = @channels.sort_by do |channel|
      channel.streams.where("created_at >= ?", 1.week.ago).average(:viewer_count).to_i
    end.reverse %>

    <% sorted_channels.each do |channel| %>
      <li><%= channel.display_name %></li>
      Average viewers: <%= channel.streams.where("created_at >= ?", 1.week.ago).average(:viewer_count).to_i %>
      <% if channel.clips.any? %>
        <div class="cards-container">
          <div class="card-trip">
            <%= image_tag channel.clips.order("view_count DESC").first.thumbnail_url %>
            <div class="card-trip-infos">
              <div class="d-flex gap-3">
                <%= image_tag channel.clips.order("view_count DESC").first.stream.user.profile_image_url, class: "avatar-bordered" %>
                <div class='align-self-center'>
                  <h2><%= channel.clips.order("view_count DESC").first.title %></h2>
                  <p><%= channel.clips.order("view_count DESC").first.stream.user.display_name %></p>
                </div>
              </div>
              <p>Views: <%= channel.clips.order("view_count DESC").first.view_count %></p>
              <p><%= channel.clips.order("view_count DESC").first.stream.category.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>


<div style="padding-bottom: 50px;"></div>
