<h1>Pages#home</h1>

<!-- Displaying User Overview -->
<div class="profile-info">
  <img src="<%= @user.profile_image_url %>" alt="Profile Image">
  <p><%= @user.display_name %></p>
  <% if @user.total_followers >= 1000 && @user.total_followers < 1000000 %>
    <p><%= (@user.total_followers / 1000.0).round(1) %>k followers</p>
  <% elsif @user.total_followers >= 1000000 %>
    <p><%= (@user.total_followers / 1000000.0).round(1) %>M followers</p>
  <% else %>
    <p><%= @user.total_followers %> followers</p>
  <% end %>
</div>
<div class="stats-info">
  <div class="week-info">
    <h5>Last 5</h5>
    <ul><%= @user.average(5)%> average viewers</ul>
    <ul><%= @user.followers(5) %> new followers</ul>
    <ul><%= @user.subscribers(5) %> new subscribers</ul>
  </div>
<% if @user.clips.any? %>
  <!-- Displaying Clips -->
  <div class="clips">
    <ul>
      <li>
        <img src="<%= @user.clips.order("view_count DESC").first.thumbnail_url %>" alt="Thumbnail">
        <div class="clip-info">
          <img src="<%= @user.clips.order("view_count DESC").first.stream.user.profile_image_url %>" alt="Profile Image">
          <p><%= @user.clips.order("view_count DESC").first.stream.user.display_name %></p>
          <p><%= @user.clips.order("view_count DESC").first.title %></p>
          <p>Views: <%= @user.clips.order("view_count DESC").first.view_count %></p>
          <p>Category: <%= @user.clips.order("view_count DESC").first.stream.category.name %></p>
        </div>
      </li>
    </ul>
  </div>
<% end %>


<!-- Displaying Categories -->
<div class="categories">
  <h3>Trending Categories:</h3>
  <ul>
    <% @categories.each do |category| %>
      <li><%= category.name %></li>
         Average viewers: <%= category.streams.first.average_viewers%>
        <% if category.clips.any? %>
          <div class="clips">
            <ul>
              <li>
                <img src="<%= category.clips.order("view_count DESC").first.thumbnail_url %>" alt="Thumbnail">
                <div class="clip-info">
                  <img src="<%= category.clips.order("view_count DESC").first.stream.user.profile_image_url %>" alt="Profile Image">
                  <p><%= category.clips.order("view_count DESC").first.stream.user.display_name %></p>
                  <p><%= category.clips.order("view_count DESC").first.title %></p>
                  <p>Views: <%= category.clips.order("view_count DESC").first.view_count %></p>
                </div>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
  </ul>
</div>

<!-- Displaying Channels -->
<div class="channels">
  <h3>Trending Channels:</h3>
  <ul>
    <% @channels.each do |channel| %>
      <li><%= channel.display_name %></li>
          Average viewers: <%= channel.streams.where("created_at >= ?", 1.week.ago).average(:viewer_count).round %>
        <% if channel.clips.any? %>
          <div class="clips">
            <ul>
              <li>
                <img src="<%= channel.clips.order("view_count DESC").first.thumbnail_url %>" alt="Thumbnail">
                <div class="clip-info">
                  <img src="<%= channel.clips.order("view_count DESC").first.stream.user.profile_image_url %>" alt="Profile Image">
                  <p><%= channel.clips.order("view_count DESC").first.stream.user.display_name %></p>
                  <p><%= channel.clips.order("view_count DESC").first.title %></p>
                  <p>Views: <%= channel.clips.order("view_count DESC").first.view_count %></p>
                  <p>Category: <%= channel.clips.order("view_count DESC").first.stream.category.name %></p>
                </div>
              </li>
            </ul>
          </div>
        <% end %>
    <% end %>
  </ul>
</div>

<div style="padding-bottom: 50px;"></div>
