
<%# <div class="banner">
    <div class="banner-content">
      <h3 class="banner-title">
        Welcome Pokimane
      </h3>
      <h4 class="banner-subtitle">
        Hello World
      </h4>
    </div>
  </div> %>

<div class="profile-info pb-3 mb-3">
  <header class="profile container-show pt-0">
<div class="logo">
  <%= image_tag 'stream__-01.png' %>
</div>
    <div class="profile__container grid">
      <div class="profile__data">
        <div class="profile__border">
          <div class="profile__perfil">
            <img class="profile__perfil" src="<%= @user.profile_image_url %>" alt="Profile Image">
          </div>
        </div>

        <h2 class="title"><%= @user.display_name %></h2>
        <% if @user.total_followers >= 1000 && @user.total_followers < 1000000 %>
            <h5 class="text"><%= (@user.total_followers / 1000.0).round(1) %>k followers</h5>
          <% elsif @user.total_followers >= 1000000 %>
            <h5 class="text"><%= (@user.total_followers / 1000000.0).round(1) %>M followers</h5>
          <% else %>
            <h5 class="text"><%= @user.total_followers %> followers</h5>
          <% end %>
      </div>
      <h3 class="subtitle title-align">Last 5 streams</h3>
      <div class="profile__info grid">

        <div class="profile__info-group">
          <h3 class="profile__info-number toptitle"><%= @user.average(5)%></h3>
          <p class="profile__info-description liltext">average viewers</p>
        </div>
        <div class="profile__info-group">
          <h3 class="profile__info-number toptitle">+<%= @user.followers(5) %></h3>
          <p class="profile__info-description liltext"> new followers</p>
        </div>
        <div class="profile__info-group">
          <h3 class="profile__info-number toptitle">+<%= @user.subscribers(5) %></h3>
          <p class="profile__info-description liltext"> new subscribers</p>
        </div>
      </div>
      <div class="top-categories">
  <h3 class="profile__title  subtitle" id="deathrow">My Top Categories</h3>
  <% if @user.streams.any? %>
    <% category_count = @user.streams.where("created_at >= ?", 30.days.ago).group(:category_id).count %>
    <% top_categories = category_count.sort_by { |_, count| -count }.take(3).map(&:first) %>
    <% if top_categories.any? %>
      <div class="stream-categories d-flex justify-content-center flex-wrap gap-2">
        <% top_categories.each do |category_id| %>
          <% category_name = Category.find(category_id).name %>
          <%= link_to category_name, category_path(category_id), class: "text-decoration-none category-btn d-inline" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

    </div>
    </div>
  </header>
</div>


<!-- Swiper -->

<div class="container-swiper">
  <div class="upcoming-title">
    <h3 class="subtitle" id="deathrow">Trending Categories</h3>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">

       <% sorted_categories = @all_categories.sort_by do |category| %>
        <%   -category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i %>
       <% end %>

    <% sorted_categories.take(10).each do |category| %>
      <%= link_to category_path(category.id) do %>
        <div class="swiper-slide">
          <img src="<%= category.box_art_url %>" alt="Box Art", class="game-small"></a>
            <p class="liltext title-align"><%= if category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i >= 1000000
                (category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i / 1000000.0).round(1).to_s + "M"
              elsif category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i >= 1000
                (category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i / 1000.0).round(1).to_s + "k"
              else
                category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i.to_s
              end %>
          viewers</p>
        </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>



<div class="top">
  <div class="upcoming-title">
    <h3 class="subtitle " id="deathrow">Top Streamers</h3>
  </div>
  <div class="top__container">
    <% @channels.first(5).each do |channel| %>
      <div class="top__card">
        <div class="card-avatar">
          <img src="<%= channel.profile_image_url %>" alt="<%= channel.display_name %>" class="top__img">
        </div>
        <div>
          <h5 class="toptitle" style="margin: 0;"><%= link_to channel.display_name, channel_path(channel.id), style: 'color: white;' %></h5>
        </div>
        <div>
           <span class="subtext">
              <% if channel.viewer_count >= 1000000 %>
                <%= (channel.viewer_count/1000000.0).round(1) %>M
              <% elsif channel.viewer_count >= 1000 %>
                <%= (channel.viewer_count/1000.0).round(1) %>k
              <% else %>
                <%= channel.viewer_count %>
              <% end %>
              viewers
            </span>
        </div>
      </div>
    <% end %>
  </div>
</div>









<div class="top">
  <div class="upcoming-title">
    <h3 class="subtitle" id="deathrow">Best Performance</h3>
  </div>
  <div class="top__container">
    <% @channels.sort_by(&:performance_score).reverse.take(5).each do |channel| %>
      <div class="top__card">
        <div class="card-avatar">
          <img src="<%= channel.profile_image_url %>" alt="<%= channel.display_name %>" class="top__img">
        </div>
        <div>
          <h5 class="toptitle" style="margin: 0;"><%= link_to channel.display_name, channel_path(channel.id), style: 'color: white;' %></h5>
        </div>
        <div>
          <span class="subtext">
              <% if channel.viewer_count >= 1000000 %>
                <%= (channel.viewer_count/1000000.0).round(1) %>M
              <% elsif channel.viewer_count >= 1000 %>
                <%= (channel.viewer_count/1000.0).round(1) %>k
              <% else %>
                <%= channel.viewer_count %>
              <% end %>
              viewers
            </span>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div style="padding-bottom: 50px;"></div>

<script>
      // swiper js
      $(document).ready(function() {
        const swiper = new Swiper('.swiper-container', {
          slidesPerView: 3,
          spaceBetween: 10
        });
      });
</script>
