  <div class= "search-main">
  <div class='search-bar'>
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :query, params[:query], style: 'background: #242327; height: 33px; caret-color: #9154F3; border-radius: 0.35rem; border: none; border-bottom: solid #333138; outline: none; font-family:Poppins; color: white; width: 100%; margin-top: 0;', autocomplete: 'off', placeholder: "search..." %>
      <%= submit_tag "", style: 'background: none; border: none; color: mediumpurple;'%>
    <% end %>
  </div>
  <% if @query %>
    <% if !(@categories.empty?) %>
      <h3 class="subtitle">Categories</h3>
      <p></p>
      <div class= "categories-section">
        <% @categories.each do |category| %>
          <%= link_to category_path(category), class: "toptitle text-decoration-none", style: "color: aliceblue;" do %>
            <div class="search-category ">
              <div class="card-avatar">
                  <%= image_tag(category.box_art_url, class: "game-but-smaller", id: "smol-cards") %>
              </div>
            <div class="category-name">
              <p><%= category.name %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if !(@channels.empty?) %>
      <h3 class="subtitle style="padding-bottom: 15px;">Channels</h3>
      <div class= "channels-section">
        <% @channels.each do |channel| %>
          <%= link_to channel_path(channel), class: "toptitle text-decoration-none", style: "color: aliceblue;" do %>
            <div class="search-channel">
                <div class="channel-avatar">
                  <%= image_tag(channel.profile_image_url, class:"game-but-smaller")%>
                </div>
                <div class="category-name">
                  <p><%= channel.display_name %></p>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @categories.empty? && @channels.empty? && !@query.empty? %>
      <p>Nothing found</p>
    <% end %>
  <% end %>

</div>
