<h1><%= @category.name %></h1>

<div class="category-info">
  <img src="<%= @category.box_art_url %>" alt="Box Art", class="game">
  <p>Average viewers:</p>
  <ul>
    <li>Last week: <%= @category.streams.where("started_at >= ?", 1.week.ago).average(:average_viewers).to_i %></li>
    <li>Last month: <%= @category.streams.where("started_at >= ?", 1.month.ago).average(:average_viewers).to_i %></li>
    <li>Last 3 months: <%= @category.streams.where("started_at >= ?", 3.months.ago).average(:average_viewers).to_i %></li>
    <li>All time: <%= @category.streams.where("started_at >= ?", 20.years.ago).average(:average_viewers).to_i %></li>
  </ul>
  <p>Peak viewers: <%= @category.peak_viewers %>
  <p>Peak viewers date: <%= @category.peak_viewers_date %></p>
</div>

<h3>Popular Channels:</h3>
<% if @category.streams.any? %>
  <div class="streams">
    <ul>
      <% @category.streams.group_by(&:user).sort_by { |user, streams| streams.last.average_viewers }.reverse.first(5).each do |user, streams| %>
        <p>
          <%= link_to image_tag(user.profile_image_url, alt: "Profile Image", class: "avatar-large"), channel_path(user.id), class: "text-decoration-none"%>
          <div class="stream-info">
            <p><%= link_to user.display_name, channel_path(user.id), class: "text-decoration-none", style: 'color: black' %></p>
            <p>Average viewers: <%= streams.last.average_viewers.to_i %></p>
            <% if user.total_followers >= 1000 && user.total_followers < 1000000 %>
              <p><%= (user.total_followers / 1000.0).round(1) %>k followers</p>
            <% elsif user.total_followers >= 1000000 %>
              <p><%= (user.total_followers / 1000000.0).round(1) %>M followers</p>
            <% else %>
              <p><%= user.total_followers %> followers</p>
            <% end %>
          </div>
        </p>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Popular Clips:</h3>
<% if @category.clips.any? %>
  <div class="cards-container">
      <% @category.clips.group_by { |clip| clip.stream.user }.sort_by { |user, clips| clips.sum(&:view_count) }.reverse.first(5).each do |user, clips| %>
        <div class="card-trip">
          <%= image_tag clips.first.thumbnail_url %>
          <div class="card-trip-infos">
            <div class="d-flex gap-3">
              <%= link_to image_tag(user.profile_image_url, class: "avatar-bordered", alt: "Profile Image"), channel_path(user.id), class: "text-decoration-none", style: 'color: black' %>
              <div class='align-self-center'>
                <h2><%= clips.first.title %></h2>
                <p><%= link_to user.display_name, channel_path(user.id), class: "text-decoration-none", style: 'color: black' %></p>
              </div>
            </div>
          <p>Views: <%= clips.sum(&:view_count) %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div style="padding-bottom: 50px;"></div>
