<!DOCTYPE html>
<html>
  <head>
    <title>GINY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/navbar" %>
    <script>
    const streamsContent = document.getElementsByClassName('streams__content'),
      streamsHeader = document.querySelectorAll('.streams__header')

function togglestreams(){
    let itemClass = this.parentNode.className

    for(i = 0; i < streamsContent.length; i++){
        streamsContent[i].className = 'streams__content streams__close'
    }
    if(itemClass === 'streams__content streams__close'){
        this.parentNode.className = 'streams__content streams__open'
    }
}

streamsHeader.forEach((el) => {
    el.addEventListener('click', togglestreams)
})


    </script>
  </body>
</html>
